{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSameLine": false,
  "printWidth": 180,
  "tabWidth": 1,
  "useTabs": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}

